<html lang="en">
<head>
    <title>HTML and CSS Authoring 1</title>

<style>
    body {
        background-color: rgb(118, 214, 214);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 50px;
        color: aquamarine;
    }
    h1{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(14, 14, 138);
    }
    a:link,
    a:visited,
    a:hover {
        color: rgb(58, 143, 115);
        front font-weight: bold;
    }

    a:hover{
        color: beige;
        text-decoration: none;
    }
</style>

</head>
<body>
    <h1>HTML and CSS Authoring 1</h1>
    <h3>Adrian Robles</h3>
    <h3>Spring Semester 2025</h3>

    <ul>
        <li><a href="cat-photos/index.html">Cat Photos App</a></li>
        <li><a href="ggallery folder/index.html">Photo Gallery</a></li>
       
    </ul>
</body>
</html>
